﻿<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.guildfamily.krox">
    <uses-sdk android:minSdkVersion="16"/>
    <application android:label="KROX" android:icon="@drawable/ic_launcher">
        <activity android:name="KroxActivity"
                android:label="KROX">
        </activity>
        <activity android:name=".StartActivity"
                  android:label="Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>